<!doctype html>
<html>
  <head>
    <title>About</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>


  <body>
    <div class="bg">

      <img src="https://avatars.githubusercontent.com/u/64151210?v=4" class="logo">
        <p>
            Welcome to our PokeAPI website!<br>
            Here you can create an account and choose your own starter Pokemon, and get information <br>
            on all of their statistics such as their type, height/weight, and attack moves!
        </p>



    </div>
      
  </body>
</html>

