<!doctype html>
<html>
  <head>
    <title>Registration</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="bgCreate">
      <div class="form-container">
        <!-- Add a login form -->
        <form class="login-form" action="/createUser" method="post">
          <h2>Registration</h2>
          <input type="text" name="username" placeholder="Enter Username" required/>
          <input type="password" name="password" placeholder="Enter Password" required/>
          <input class="button" type="submit" value="Register" />
          <br>
          <a href="/">Go Back</a>
        </form>
      </div>  
      </form>

    </div>
  </body>
</html>
