<!doctype html>
<html>
  <head>
    <title>Welcome</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="bg">
      <p>Hello</p>

    </div>

  </body>


</html>

<!-- <p>
  <strong>Choose your Starter Pokemon!!!</strong>
  <select name="expertise">
    <option value="amateur">Amateur</option>
    <option value="proficient" selected="selected">Proficient</option>
  </select>
</p> -->
